@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Azeret Mono", monospace;

}
header{
    height: 131px;
    border: 1px solid red;
}

  
.name{
    display: inline-block;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
margin: 50px 200px 50px 150px;
}
.resume{
    display: inline-block;
    margin: 38px 100px 0px 500px ;
width: 228px;
height:25px ;
padding: 17px 24px 17px 24px;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.hero{border: 1px solid blue;
    display: flex;
    height: 652px;
    background-image: url(/resources/assets/Hero-bg.png);
    justify-content: center;
    align-items: center;
    
}
.hero-container{
    border: 1px solid pink;
    /* position: relative; */
}
.hero-img{
position: relative;
width: 240.28px;
height: 240px;
top: 2%;
left: 42%;
}
.hero-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
margin: 32px 220px 0px;
}
.hero-subtitle{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: .7;
margin: 24px 290px 0px;
}
.contact-me{
    position: relative;
    left: 40%;
    bottom: 0%;
    width: 250px;
    height: 66px;
    border-radius: 8px;
background: rgb(13, 19, 33);
margin: 20px 0px 0px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 21px 24px 21px 24px;
}