@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Azeret Mono", monospace;

}

header {
    height: 131px;
    border: 1px solid red;
}

.name {
    display: inline-block;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    margin: 50px 200px 50px 150px;
}

.resume {
    display: inline-block;
    margin: 38px 100px 0px 500px;
    width: 228px;
    height: 25px;
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.hero {
    border: 1px solid blue;
    display: flex;
    height: 652px;
    background-image: url(/resources/assets/Hero-bg.png);
    justify-content: center;
    align-items: center;

}

.hero-container {
    border: 1px solid pink;
    /* position: relative; */
}

.hero-img {
    position: relative;
    width: 240.28px;
    height: 240px;
    top: 2%;
    left: 42%;
}

.hero-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin: 32px 220px 0px;
}

.hero-subtitle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .7;
    margin: 24px 290px 0px;
}

.contact-me {
    position: relative;
    left: 40%;
    bottom: 0%;
    width: 250px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin: 20px 0px 0px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 21px 24px 21px 24px;
}

.reason {
    border: 1px solid teal;
    width: 950px;
    height: 1050px;
    padding: 80px 97px 80px 97px;
    margin: 50px 150px 50px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);

}

.reason-container {
    border: 1px solid rgb(0, 255, 183);
    width: 946px;
    height: 1060px;

    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
    margin: 0px 10px;

}

.reason-heading {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
}

.reason-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
    opacity: .7;
}

.reason1,
.reason2,
.reason3 {
    border: 1px solid red;
    display: flex;
    margin: 48px;
    height: 240px;

}

.reason1-text,
.reason5-text,
.reason3-text {
    width: 50%;
}

.reason1-img,
.reason1-img,
.reason1-img {
    display: block;
    width: 50%;

}

.reason1-heading {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
}

.reason1-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: .7;
    margin: 16px 0px;
}

.reason1-img img {
    float: right;
}

.learn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 48px;
    margin: 0px 10px 0px 0px;
    padding: 12px 20px 12px 20px;
}

.reason2-heading {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
}

.reason2-text {
    padding-left: 90px;
}

.reason2-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: .7;
    margin: 16px 0px;
}

.reason3-img img {
    position: relative;
    left: 190px;
}

.reason3-heading {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
}

.reason3-description {

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: .7;
    margin: 16px 0px;
}

.inspiration-heading {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 24px;
}

.inspiration-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .7;
    margin: 24px 0px;

}

iframe {
    height: 565px;
    width: 1100px;
    margin: auto;
    border-radius: 16px;
}

.video-container {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 1140px;
    margin: 48px auto;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

.cu-target-container {
    width: 1140px;
    height: 463px;
    border: 1px solid red;
    margin: 111px auto;
}

.cu-target-heading {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
}

.cu-target-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
    padding: 0px 140px;
    opacity: .7;
}

.cu-targets-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 48px 0px 0px 0px;
}

.cu-target1,
.cu-target2,
.cu-target3 {
    border: 1px solid green;
    width: 364px;
    height: 200px;
    padding: 40px;
}

.cu-target1 {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.cu-target2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.cu-target3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.cu-target-img {
    position: relative;
    width: 56px;
    height: 56px;
    margin-bottom: 12px;
}

.cu-target-h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 8px 0px;
}

.cu-targets-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin: 8px 0px;
    opacity: .7;
}

.cu-target-h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin: 24px 0px;
}

.cu-target-h4>a{
    color: black;
}

.n-targets {
    border: 1px solid tan;
}

.n-targets-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 5px 0px;
}

.n-targets-subtitle {

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .7;
    margin: 24px 0px 36px;
    padding: 5px 144px;
}

.n-target {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;

    background: rgb(255, 255, 255);
    margin: 24px auto;
    padding: 40px;
    width: 1140px;
    height: 220px;
    display: flex;
}

.n-target-text {
    margin: 10px 40px;
}

.n-target-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 8px 0px;
}

.n-target-subtitle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: .7;
    margin: 8px 0px;
}

.n-target-h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin: 24px 0px;
}

.n-target-h4>a{
    color: black;
}
.support {
    border: 1px solid red;
    height: 314px;
    width: 1140px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2);
    background-image: url(/resources/assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px auto;
}

.support-heading {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin: 50px 0px 0px;
}

.support-description {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .7;
    margin: 20px 0px;
    padding: 0px 200px;
}

.support-text {
    position: relative;
    left: 15%;
    width: 548px;
    height: 57px;
    padding: 19px 20px 19px 20px;
    margin: 20px 0px 0px 16px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;

    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}

.support-submit {
    position: relative;
    right: -160px;
    width: 120px;
    height: 55px;
    padding: 17px 20px 17px 20px;
    margin: 20px 16px 0px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;


}
.my-social-site-container{margin-top: 80px;
    width: 1123px;
    height: 100px;
    border: 1px solid green;
    display: flex;
    border-radius: 16px;
    padding: 32px 150px 32px 150px;
    background: rgba(13, 19, 33, 0.03);
    justify-content: space-between;
    align-items: center;
}
i {
    margin: 0px 10px;

}
.my-social-site-containe h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

}